@model IEnumerable<HelpingHands.Models.Donor>

@{
    ViewData["Title"] = "Donor";
}

<style>
    body {
        background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/hd/cca1e136569841.5720ffd3c7679.gif');
        background-size: cover; 
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    body, h1, h5, p, a {
        color: white;
    }

    .card {
        background: rgba(255, 255, 255, 0.1); 
        backdrop-filter: blur(10px); 
        border: none; 
    }

    .btn {
        color: white; 
    }

    .btn-warning {
        background-color: orange; 
    }

    .btn-info {
        background-color: deepskyblue;
    }

    .btn-danger {
        background-color: red;
    }
</style>

<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <br />
            <br />
            <br />
            <h1>My Profile</h1>
            <br />
            <br />
            @if (!Model.Any())
            {
                <p>
                    <a asp-action="Create" class="btn btn-primary">Create A Donor</a>
                </p>
            }
        </div>
    </div>

    <div class="row justify-content-center">
        @foreach (var donor in Model)
        {
            <div class="col-md-6 col-lg-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            Donor: @Html.DisplayFor(modelItem => donor.FirstName) @Html.DisplayFor(modelItem => donor.LastName)
                        </h5>
                        <p class="card-text">
                            <strong>Email:</strong> @Html.DisplayFor(modelItem => donor.Email) <br />
                            <strong>Address:</strong> @Html.DisplayFor(modelItem => donor.Address) <br />
                            <strong>Donations:</strong> @Html.DisplayFor(modelItem => donor.Donations.Count) <br />
                        </p>
                        <div class="card-footer">
                            <a asp-action="Edit" asp-route-id="@donor.DonorId" class="btn btn-warning">Edit</a>
                            <a asp-action="Details" asp-route-id="@donor.DonorId" class="btn btn-info">Details</a>
                            <a asp-action="Delete" asp-route-id="@donor.DonorId" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
